@font-face{
  src:url('~assets/fonts/Studio-Gothic-Alternate-Regular-trial.ttf');
  font-family: 'Marvin';
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
